<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef> Date/heure</th>
    <td mat-cell *matCellDef="let element">
      {{element.timestamp | date :  "M/d/yy h:mm"}}
    </td>
  </ng-container>

  <ng-container matColumnDef="wave_surf_min">
    <th mat-header-cell *matHeaderCellDef> Wave min (m)</th>
    <td mat-cell *matCellDef="let element"> {{element.wave_surf_min}}</td>
  </ng-container>

  <ng-container matColumnDef="wave_surf_max">
    <th mat-header-cell *matHeaderCellDef> Wave max (m)</th>
    <td mat-cell *matCellDef="let element"> {{element.wave_surf_max}}</td>
  </ng-container>

  <ng-container matColumnDef="wave_wave_direction_0">
    <th mat-header-cell *matHeaderCellDef> Wave direction (°)</th>
    <td mat-cell *matCellDef="let element"> {{element.wave_wave_direction_0}}</td>
  </ng-container>

  <ng-container matColumnDef="wave_wave_height_0">
    <th mat-header-cell *matHeaderCellDef> Wave height (m)</th>
    <td mat-cell *matCellDef="let element"> {{element.wave_wave_height_0}}</td>
  </ng-container>

  <ng-container matColumnDef="tides_height">
    <th mat-header-cell *matHeaderCellDef> Tides Height (m)</th>
    <td mat-cell *matCellDef="let element"> {{element.tides_height}}</td>
  </ng-container>

  <ng-container matColumnDef="wind_direction">
    <th mat-header-cell *matHeaderCellDef> Wind direction (°)</th>
    <td mat-cell *matCellDef="let element"> {{element.wind_direction}}</td>
  </ng-container>

  <ng-container matColumnDef="wind_speed">
    <th mat-header-cell *matHeaderCellDef> Wind speed (km/h)</th>
    <td mat-cell *matCellDef="let element"> {{element.wind_speed}}</td>
  </ng-container>

  <ng-container matColumnDef="weather_condition">
    <th mat-header-cell *matHeaderCellDef> Weather</th>
    <td mat-cell *matCellDef="let element"> {{element.weather_condition}}</td>
  </ng-container>

  <ng-container matColumnDef="weather_temperature">
    <th mat-header-cell *matHeaderCellDef> Temperature (°C)</th>
    <td mat-cell *matCellDef="let element"> {{element.weather_temperature}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[12, 24, 48]" showFirstLastButtons>

</mat-paginator>

