<mat-form-field class="example-full-width">
  <input #spot type="text" placeholder="Pick a spot and hit Enter"
         aria-label="Number" matInput
         [formControl]="myControl" [matAutocomplete]="auto"
         (keyup.enter)="done($event)">

  <mat-autocomplete #auto="matAutocomplete">

    <mat-optgroup *ngFor="let countrySpots of filteredOptions | async"
                  [label]="countrySpots.countryName">

      <mat-option *ngFor="let spot of countrySpots.spots"
                  [value]="spot.name">
        {{ spot.name }}
      </mat-option>

    </mat-optgroup>

  </mat-autocomplete>
</mat-form-field>
